doctype html
html(lang="en")
	head
		script(type="text/javascript" src="/js/vendor.js")
		script(type="text/paperscript" canvas="myCanvas" src="index.js")
		script(type="text/javascript" src="/js/app.js")
	body
		canvas(id="myCanvas" resize)