<!DOCTYPE html>
<html>
<head>

script(type="text/javascript" src="/js/vendor.js")
script(type="text/paperscript" canvas="myCanvas" src="/js/app.js")
	
</head>
<body>
<canvas id="myCanvas" resize></canvas>
</body>
</html>