doctype html
html(lang="en")
  head
    link(rel="stylesheet" type="text/css" href="css/app.css")
    
    script(type="text/javascript" src="/js/app.js")
    script(type="text/javascript" src="/js/vendor.js")
    script(type="text/javascript" src="/js/templates.js")  
  body
    .main-container
      #headline Tweatmap
      canvas#map
      script. 
        require('app');