#headline {
	margin: 		0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
	width:			1000px;
	display: block;
	text-align: center;
	font-size: 50px;
	font-family: "Verdana";
}


#map {
	margin: 		0 auto;
	height:			800px;
	width:			800px;
	display: block;
	background-image: url(/images/canvas_map.png);
	background-repeat: no-repeat;
}